<!DOCTYPE html>
<html>

    <head>
        <title>My Angular App!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <style></style>
    </head>

    <!-- No need to specify the ng-controller on the body element because the 
         the ui-route config specify the controller in the home state.

        <body ng-app="flapperNews" ng-controller="MainCtrl">
    -->
    <body ng-app="flapperNews">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- No longer needed here because the partial-home
                <div class="page-header">
                    <h1>Flapper News</h1>
                </div>
                -->
                <!-- ui-view directive is part of ui-router and it is to show partial views of a page -->
                <ui-view></ui-view>
            </div>
        </div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
    </body>

</html>
